body{
    text-align: center;
}

#bucket-list{
    list-style-type: none;
    padding: 0;
}

li{
    background-color: aliceblue;
    margin: 2px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
}

button{
    cursor: pointer;
}